@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-text-colour:#a89160;
  --secondary-text-colour:#577592;
  --accent-color:#dc90f5;
  --accent-color-dark:#dbbae6;
  --padding-inline-section: 20px;
}

body{
  font-family: 'Poppins',sans-serif;
  color: var(--primary-text-colour) ;
}

h1{
  font-size: 3rem;
  
}
h2{
  font-size: 2rem;
  
}
h3{
  font-size: 1.5rem;
  
}
p{
  font-family:'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-colour); 
  line-height: 1.8rem;
}
a{
  text-decoration: none;
  display: inline-block;
}
.container{
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.small-bold-text{
  font-weight: 700;
  font-size: 1rem;
}
.banner-text{
  color:#ead0f7 ;
  padding: 15px 30px;
  text-align: center;
}
.top-banner{
  background-color:#d99cf7;

}
.flex{
  display: flex;
  align-items: center;
}
ul{
  list-style: none;
}
.company-logo img{
  width: 200px;
  
}
.main-nav{
  margin-top: 10px;
  justify-content: space-between;
}
.nav-links ul{
  justify-content: end;
  gap: 70px;
}
.nav-links{
  flex-basis: 730px;

}
.hover-link{
  color: var(--primary-text-colour);
  transition: 0.2 ease-out;

}
.hover-link:hover{
  color: var(--accent-color);
}
.primary-button{
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-colour);
  transition: 0.2 ease-out;
  
}
.primary-button:hover{
  background-color: var(--accent-color-dark);
}
header{
  padding: 50px var(--padding-inline-section) 0;
}
.header-section{
  justify-content: center;
  gap: 50px;
}
.header-right img{
  width: 600px;
}
.header-left {
  max-width: 40vw;
}
.header-left h1{
  margin-top: 20px;
}
.get-started-btn{
  margin-top: 20px;
  
}
.service-header{
  text-align: center;

}
.our-services{
  padding: 80px var(--padding-inline-section) 0;

}

.our-services h2{
  margin-bottom: 20px;
}
.link-column{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}
.footer-container{
  align-items: flex-start;
  justify-content: space-between;
}
footer{
  padding-block: 80px;
  background-color:#9cbff7;
}
.subfooter{
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}
.subfooter-container{
  justify-content: center;
  gap: 30px;
}
nav{
  width:100%;
  height: 100%;
  color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 730px;
 
}
.logo{
  font-size: 1.5em;
  letter-spacing: 2px;
  color: black;
  text-align: left;

}
.flex a{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20pxS;
  color:black;
  position: relative;

}
.flex a:before{
  content:'';
  position:absolute;
  top: 0;
  left: 0;
  width:0%;
  height: 100%;
  border-bottom: 2px solid indianred;
  transition: o.4s linear;
}
.flex a:hover:before{
  width: 90%;
}