*{
    padding: 1;
    margin: 1;
}
 body{
    background:  url("internshipimg.jpg");
    background-size: 100%;
    background: position -400px 0px;
 }
  div .main{
    width: 400px;
    margin: 100px auto 0px auto;
  }

  h2{
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  div.register{background-color: rgba(0,0,0,0.5);
    width:30%;
    font-size:  18px;
    border-radius:  20px; 
    border: 2px solid;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    color: #fff;

}

form#register{
    margin: 40px;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    
}

input#name{
    width: 300px;
    border: 1px solid #add;
    border-radius: 5px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px;
    

}

input#submit{
    width: 200px;
    padding :7px;
    font: optional;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    cursor: pointer;

}

